/*
    Essas regras padrões são bacanas
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


/*
    Aqui vamos começar a estilizar nosso header principal.
    Temos um fundo preto, a cor do texto como branca, um
    preenchimento pra ela não se limitar ao tamanho do texto
    e a tornamos uma flexbox, que deixa nosso conteúdo mais 
    flexível, ou seja, ele vai se comportar tanto como bloco
    como linha. Depois justificamos o conteúdo para a direita
    com nosso flex-end. O preenchimento padding é usado para
    "engrossar" o header. Aqui também fornecemos um widht 
    de 100% para que a largura seja de todo espaço visível
    e por fim um position fixed para que a barra fique na mesma 
    posição mesmo rolando a pagina
*/

.main-header {
    display: flex;
    justify-content: flex-end;
    background-color: #000000;
    color: #fff;
    padding: 12px 16px;
    font-family: Raleway;
    width: 100%;
    position: fixed;
    z-index: 3;
}


/*
    Talvez essa seja a parte mais confusa da nossa esiilização.
    Aqui temos a classe content que abriga as tags aside e a div 
    principal do nosso conteúdo. Nossa organização é uma barra 
    lateral ao conteúdo principal.
*/

.aside {
    margin-top: 43px;
    height: 100%;
    width: 300px;
    overflow: auto;
    position: fixed;
    background-color: #fff;
}

.aside-profile {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    border-bottom: 1px solid #f1f1f1;
}

.aside-profile img {
    width: 46px;
    border-radius: 100%;
    margin-left: 15px;
}

.aside-profile-info {
    margin-right: 100px;
}

.aside-profile-items {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

aside h3 {
    padding-left: 20px;
    font-size: 20px;
    font-weight: normal;
}

.dashboard {
    padding: 10px 0;
}

.dashboard-item {
    padding: 6px;
}

.dashboard-item a {
    padding: 8px 16px;
    text-decoration: none;
    color: #000;
    font-size: 15px;
}

.main {
    margin-left: 300px;
    padding-top: 43px;
    background-color: #f1f1f1;
}


/*SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSIIIIIIUUUUUUUUUUUUUUU*/
.status-bar{
    display: flex;
    justify-content: space-evenly;
}
.status{
    width: 24%;
    padding: 16px 0;
    color: #fff;

}
.status-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}
.to-left{
    font-size: 50px;
    text-align: left;
}
.to-right h3{
    font-size: 25px;
    font-weight: 100;
}
.box-red {
    background-color: #f44336;
}

.box-blue {
    background-color: #2196f3;
}

.box-green {
    background-color: #009688;
}

.box-yellow {
    background-color: #ff9800;
}